<!-- General Container -->
<div class="w-full h-fit flex flex-col">
    <!-- Title -->
    <div class="w-full h-fit flex flex-row px-6 justify-center items-center pt-8 lg:pt-0">
        <h1 class="font-semibold italic text-8xl text-primary drop-shadow-sm md:text-9xl">Notes</h1>
    </div>
    <!-- End of Title -->

    <!-- Option Bar Container -->
    <div class="w-full h-fit flex flex-row px-6 justify-between items-center mt-8 md:px-20 md:mt-12">
        <!-- First Two Options -->
        <div class="flex flex-row justify-center items-center">
            <!-- List Option -->
            <a id="list" class="mr-3" routerLink="/notes">
                <svg class="w-10 h-10 md:w-14 md:h-14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#000"><g stroke-width="1.5" stroke-linecap="round"><path d="M4 17h7M4 12h7M4 7h7"/><path d="M17 4v16m0-16-3 4m3-4 3 4m-3 12 3-4m-3 4-3-4" stroke-linejoin="round"/></g></svg>
            </a>
            <!-- End of List Option -->

            <!-- Grid option -->
            <a id="grid" class="p-1" routerLink="/notes/calendar">
                <svg class="w-8 h-8 md:w-14 md:h-14" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M30 32H20a2 2 0 0 1-2-2V20a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2zm0-12H20v10h10V20zm0-6H20a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2zm0-12H20v10h10V2zM12 32H2a2 2 0 0 1-2-2V20a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2zm0-12H2v10h10V20zm0-6H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2zm0-12H2v10h10V2z"/></svg>
            </a>
            <!-- End of Grid Option -->

        </div>
        <!-- End of First Two Options -->

        <!-- Create Option -->
        <a id="create" routerLink="/notes/create">
            <svg class="w-10 h-10 md:w-14 md:h-14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 12h16m-8-8v16" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
        </a>
        <!-- End of Create Option -->

    </div>
    <!-- End of Option Bar Container -->

</div>
<!-- End of General Container -->
