.calendar-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
  }
  
  .day {
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
  }
  
  .note {
    background-color: goldenrod; /* Resalta días con notas */
    font-weight: bold;
  }
  