<!-- General Container -->
<div class="w-full h-fit flex flex-col">
    <!-- Title -->
    <div class="w-full h-fit flex flex-row px-6 justify-center items-center pt-8 lg:pt-0">
        <h1 class="font-semibold italic text-8xl text-primary drop-shadow-sm md:text-9xl">Diary</h1>
    </div>
    <!-- End of Title -->

    <!-- Option Bar Container -->
    <div class="w-full h-fit flex flex-row px-6 justify-between items-center mt-8 md:px-20 md:mt-12">
        <!-- Create Option -->
        <a id="create" routerLink="/diary/create">
            <svg class="w-10 h-10 md:w-14 md:h-14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 12h16m-8-8v16" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
        </a>
        <!-- End of Create Option -->

    </div>
    <!-- End of Option Bar Container -->

</div>
<!-- End of General Container -->
